<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= stylesheet_link_tag "CSS/normalize", :media => "all" %>
    <%= stylesheet_link_tag "CSS/main", :media => "all" %>
    <title>ブログ</title>
  </head>

  <body>

    <h1>ブログ一覧</h1>

    <p class="notice"><%= notice %></p>

    <table>
      <colgroup>
        <col style="width:30%;">
        <col style="width:50%;">
        <col style="width:10%;">
        <col style="width:10%;">
        <col style="width:10%;">
      </colgroup>
      <tbody>
        <tr>
          <th class="t_top">タイトル</th>
          <th class="t_top">内容</th>
          <th class="t_top"></th>
          <th class="t_top"></th>
          <th class="t_top"></th>
        </tr>
        <% @blogs.each do |blog| %>
          <tr>
            <td class="t_line01"><%= blog.title %></td>
            <td class="t_line01"><%= blog.content %></td>
            <td class="t_line01"><%= link_to '確認', blog_path(blog.id) %></td>
            <td class="t_line01"><%= link_to "編集", edit_blog_path(blog.id) %></td>
            <td class="t_line01"><%= link_to '削除', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <button class="new_blog_path"><%= link_to '新しくブログを投稿', new_blog_path %></button>

  </body>
</html>
